.table_t {
  display: table;
  width: 100%;
  .row_t {
    display: table-row;
  }
  .cell_t {
    display: table-cell;
    vertical-align: middle;
  }
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.form-control-big {
  background: transparent;
  height: 50px;
  font-size: 18px;
  @include media-breakpoint-down(md) {
    font-size: 14px;
    height: 35px;
  }
}
textarea.form-control-big {
  height: 180px;
  @include media-breakpoint-down(md) {
    height: 70px;
  }
}

.form-control.ng-invalid.ng-dirty {
  border: 1px solid red;
  & + .help-block {
    display: block;
  }
}
.form-control.ng-valid {
  border: 1px solid #4cae4c;
}

.help-block {
  display: none;
  &.active {
    display: block;
  }
}
.btn-big {
  font-size: 18px;
  height: 50px;
  display: block;
  @include media-breakpoint-down(md) {
    font-size: 14px;
    height: 35px;
  }
}
a.btn-big {
  line-height: 50px;
  @include media-breakpoint-down(md) {
    line-height: 35px;
  }
}

.loader {
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fd7801+0,fb3601+100 */
  background: #fd7801; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #fd7801 0%,
    #fb3601 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #fd7801 0%,
    #fb3601 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #fd7801 0%,
    #fb3601 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: $white-color;
  text-align: center;
  .table_t {
    height: 100vh;
    text-align: center;
    img {
      width: 200px;
    }
  }
}

.loader_inner {
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  color: #673ab7;
  text-align: center;
  .table_t {
    height: 100vh;
    text-align: center;
    img {
      width: 200px;
    }
  }
}
