<div id="shops">
  <div class="container">
    <div class="head_area">
      <h1>Preview Cards</h1>
      <p>Upload your card details</p>
    </div>
    <div class="row">
      <div
        class="col-sm-4 mb-4"
        *ngFor="let card of previewCardsData.employeeDetails"
      >
        <section>
          <img
            [src]="previewCardsData.companyLogo"
            class="mx-auto d-block mb-5"
            width="100px"
          />
          <img
            [src]="card.empPhoto"
            class="rounded mx-auto d-block mb-3"
            width="200px"
          />
          <p class="text-center h3 mb-4">{{ card.empName }}</p>
          <table class="table mb-5">
            <tbody>
              <tr *ngIf="card.empDesignation">
                <td>Designation</td>
                <td>: {{ card.empDesignation }}</td>
              </tr>
              <tr *ngIf="card.empCode">
                <td>Code</td>
                <td>: {{ card.empCode }}</td>
              </tr>
              <tr *ngIf="card.empDOB">
                <td>DOB</td>
                <td>: {{ card.empDOB }}</td>
              </tr>
              <tr *ngIf="card.empMobile">
                <td>Mobile</td>
                <td>: {{ card.empMobile }}</td>
              </tr>
              <tr *ngIf="card.empEMobile">
                <td>Emergancy Mobile</td>
                <td>: {{ card.empEMobile }}</td>
              </tr>
              <tr *ngIf="card.empBG">
                <td>Blood Group</td>
                <td>: {{ card.empBG }}</td>
              </tr>
            </tbody>
          </table>
          <p class="text-center h5">{{ previewCardsData.companyName }}</p>
          <p class="text-center">{{ previewCardsData.companyAddress }}</p>
        </section>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-warning" (click)="editCards()">
        Edit Cards
      </button>
      <button type="button" class="btn btn-primary" (click)="confirmCards()">
        Confirm Cards
      </button>
    </div>
  </div>
</div>
