.material-icons {
  color: #fff;
}
section {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  .txt_btn {
    border: none;
    background: none;
    display: inline;
    padding: 0px;
    color: #673ab7;
  }
  &.checkout {
    p {
      font-size: 20px;
      margin-bottom: 30px;
    }
    button {
      width: 100%;
      display: block;
    }
    .or_txt {
      display: block;
      margin: 20px 0;
      text-align: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #cccccc;
      }
      span {
        display: inline-block;
        background: #fff;
        position: relative;
        padding: 0 10px;
      }
    }
  }
}
table {
  margin-bottom: 20px;
  tbody {
    tr {
      td {
        &:first-child {
          vertical-align: middle;
        }
        &:last-child {
          font-weight: bold;
        }
        ul {
          display: flex;
          align-items: center;
          li {
            .form-floating {
              width: 100px;
            }
            &:not(:last-child) {
              padding-right: 15px;
              margin-right: 15px;
              border-right: 1px solid #cccccc;
            }
          }
        }
      }
    }
  }
  tfoot {
    text-align: right;
    font-size: 18px;
  }
}
.d-flex {
  button {
    margin-left: 10px;
  }
}
.form-control {
  &:disabled {
    background: transparent;
    border-color: transparent;
  }
}
