<div class="row" *ngIf="!loaderShow && cartItems">
  <div class="col-lg-9">
    <section>
      <h1>{{ title }}</h1>
      <table class="table table-hover cart_table">
        <thead>
          <tr>
            <td></td>
            <td>Type</td>
            <td>Quantity</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="cartItems.cardType != 'Select'">
            <td>Card</td>
            <td>{{ cartItems.cardType }}</td>
            <td>{{ cartItems.cardQty }}</td>
            <td>{{ cartItems.cardAmount * cartItems.cardQty }}</td>
          </tr>
          <tr *ngIf="cartItems.doriType != 'Select'">
            <td>Dori</td>
            <td>{{ cartItems.doriType }}</td>
            <td>{{ cartItems.doriQty }}</td>
            <td>{{ cartItems.doriAmount * cartItems.doriQty }}</td>
          </tr>
          <tr *ngIf="cartItems.holderType != 'Select'">
            <td>Holder</td>
            <td>{{ cartItems.holderType }}</td>
            <td>{{ cartItems.holderQty }}</td>
            <td>{{ cartItems.holderAmount * cartItems.holderQty }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              Subtotal : <strong>{{ subTotal }}</strong>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
  </div>
  <div class="col-lg-3">
    <section class="checkout">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Subtotal :</th>
            <td>{{ subTotal }}</td>
          </tr>
          <tr>
            <th>Service Charge :</th>
            <td>{{ serviceCharge }}</td>
          </tr>
          <tr>
            <th>Total :</th>
            <td>{{ total }}</td>
          </tr>
        </tbody>
      </table>
      <button
        type="button"
        mat-raised-button
        class="ml-auto"
        (click)="continueShop()"
      >
        Continue Shopping
      </button>
      <div class="or_txt"><span>OR</span></div>
      <button mat-raised-button color="primary" (click)="checkout()">
        Checkout
      </button>
    </section>
  </div>
</div>

<div class="row" *ngIf="!loaderShow && !cartItems">
  <div class="col-lg-12">
    <section class="empty_cart">
      <h1>Your cart is empty</h1>
      <i class="bi bi-cart3"></i>
      <button
        type="button"
        mat-raised-button
        class="ml-auto"
        (click)="continueShop()"
      >
        Continue Shopping
      </button>
    </section>
  </div>
</div>

<div class="loader_inner" *ngIf="loaderShow">
  <div class="table_t">
    <div class="cell_t">
      <img src="/assets/images/rings-loader.svg" alt="" />
    </div>
  </div>
</div>
