<div id="shops">
  <div class="container">
    <form [formGroup]="restItemsForm" (ngSubmit)="onSubmit()">
      <div class="head_area">
        <h2>Shops</h2>
        <p>Checkout your cards, dori and holder</p>
        <div
          class="alert alert-success d-inline-block"
          role="alert"
          *ngIf="uploadMessage"
        >
          Your document uploaded successfully
        </div>
        <p>Now, share your quantity and find the best recommended qoute</p>
      </div>
      <div class="d-flex justify-content-between pb-3 mb-3 border-bottom"></div>
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
          <div class="card mb-4 shadow-sm">
            <table class="table">
              <tr>
                <th></th>
                <th>PVC Card</th>
                <th>Qty</th>
                <th>Rate</th>
              </tr>
              <tr>
                <td>
                  <img [src]="cardImg" />
                </td>
                <td>
                  <select
                    class="form-select"
                    aria-label="Floating label select example"
                    formControlName="cardType"
                    (change)="selectedCard($event)"
                  >
                    <option
                      *ngFor="let card of cardDropdown"
                      [selected]="card.checked"
                    >
                      {{ card.name }}
                    </option>
                  </select>
                </td>
                <td>
                  <div class="input-group mb-3">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="minusQty()"
                    >
                      -
                    </button>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      aria-label="Example text with two button addons"
                      formControlName="cardQty"
                      [(ngModel)]="cardQtyValue"
                    />
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="plusQty()"
                    >
                      +
                    </button>
                  </div>
                </td>
                <td>{{ cardQtyValue * 26 }}</td>
              </tr>
            </table>
          </div>
          <div class="card mb-4 shadow-sm">
            <table class="table">
              <tr>
                <th></th>
                <th>Dori/Multicolor Lanyards</th>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td>
                  <img [src]="lanyardImg" />
                </td>
                <td>
                  <select
                    class="form-select"
                    aria-label="Floating label select example"
                    formControlName="doriType"
                    (change)="selectedLanydard($event)"
                  >
                    <option
                      *ngFor="let lanyard of lanyardDropdown"
                      [selected]="lanyard.checked"
                    >
                      {{ lanyard.name }}
                    </option>
                  </select>
                </td>
                <td>
                  <div class="input-group mb-3">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="minusDoriQty()"
                    >
                      -
                    </button>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      aria-label="Example text with two button addons"
                      formControlName="doriQty"
                      [(ngModel)]="doriQtyValue"
                    />
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="plusDoriQty()"
                    >
                      +
                    </button>
                  </div>
                </td>
                <td>{{ doriQtyValue * 26 }}</td>
              </tr>
            </table>
          </div>
          <div class="card mb-4 shadow-sm">
            <table class="table">
              <tr>
                <th></th>
                <th>Holder</th>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td>
                  <img [src]="holderImg" />
                </td>
                <td>
                  <select
                    class="form-select"
                    aria-label="Floating label select example"
                    formControlName="holderType"
                    (change)="selectedHolder($event)"
                  >
                    <option
                      *ngFor="let holder of holderDropdown"
                      [selected]="holder.checked"
                    >
                      {{ holder.name }}
                    </option>
                  </select>
                </td>
                <td>
                  <div class="input-group mb-3">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="minusHolderQty()"
                    >
                      -
                    </button>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      aria-label="Example text with two button addons"
                      formControlName="holderQty"
                      [(ngModel)]="holderQtyValue"
                    />
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="plusHolderQty()"
                    >
                      +
                    </button>
                  </div>
                </td>
                <td>{{ holderQtyValue * 26 }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between pt-3 mt-3 border-top"></div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </form>
  </div>
</div>
