/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import "./assets/scss/color";
@import "./assets/scss/variable";
@import "./assets/scss/global";

@import "./app/header/header.component.scss";
@import "./app/home/home.component.scss";
@import "./app/footer/footer.component.scss";

@import "./app/shop/shop.component.scss";

body.cart,
body.cart\/address {
  background: $bg-color;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
