section {
  position: relative;
  padding: 20px;
  border: 1px solid #cccc;
  box-shadow: 0px 0px 2px #cccc;
  &.inside {
    box-shadow: inset 0px 0px 6px #999;
  }
  &.card {
    padding-top: 60px;
  }
  .close_btn {
    position: absolute;
    top: 3px;
    right: 0;
    background: transparent;
    border: none;
    svg {
      width: 24px;
      height: 24px;
      color: red;
    }
  }
  &.single_btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border: none;
      background: none;
      width: 100%;
      height: 100%;
      svg {
        width: 48px;
        height: 48px;
      }
    }
  }
}
