<h1>Choose address</h1>
<div class="row">
  <div *ngFor="let address of addressList; let i = index" class="col-sm-4 mb-4">
    <section>
      <h3>{{ address.name }}</h3>
      <p>
        {{ address.address1 }}<br />
        {{ address.address2 }}<br />
        {{ address.city | uppercase }}, {{ address.state | uppercase }}
        {{ address.pincode }}<br />
        India
      </p>
      <div class="example-container mb-4">
        <button
          mat-raised-button
          matSuffix
          color="primary"
          (click)="setAddress(i)"
        >
          Deliver to this address
        </button>
      </div>
      <div class="row example-container">
        <div class="col-6">
          <button mat-raised-button matSuffix (click)="editAddress(i)">
            Edit
          </button>
        </div>
        <div class="col-6">
          <button mat-raised-button matSuffix (click)="deleteAddress(i)">
            Delete
          </button>
        </div>
      </div>
    </section>
  </div>
  <div class="col-sm-4 mb-4">
    <section class="d-flex justify-content-center align-items-center">
      <button
        mat-raised-button
        matSuffix
        color="primary"
        (click)="addNewAddress()"
      >
        Add new address
      </button>
    </section>
  </div>
</div>
