<h1>Choose address</h1>
<div class="row">
  <div *ngFor="let address of addressList; let i = index" class="col-sm-4 mb-4">
    <section>
      <h3>{{ address.name }}</h3>
      <p>
        {{ address.address1 }}<br />
        {{ address.address2 }}<br />
        {{ address.city | uppercase }}, {{ address.state | uppercase }}
        {{ address.pincode }}<br />
        India
      </p>
      <div class="example-container mb-4">
        <button
          mat-raised-button
          matSuffix
          color="primary"
          (click)="setAddress(i)"
        >
          Deliver to this address
        </button>
      </div>
      <div class="row example-container">
        <div class="col-6">
          <button mat-raised-button matSuffix (click)="editAddress(i)">
            Edit
          </button>
        </div>
        <div class="col-6">
          <button mat-raised-button matSuffix (click)="deleteAddress(i)">
            Delete
          </button>
        </div>
      </div>
    </section>
  </div>
  <div class="col-sm-4 mb-4">
    <section class="d-flex justify-content-center align-items-center">
      <button
        mat-raised-button
        matSuffix
        color="primary"
        (click)="addNewAddress()"
      >
        Add new address
      </button>
    </section>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade show"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel">Google Login</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        For save your journey, please
        <button class="btn" (click)="googleLogin()">login with Google</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="googleLogin()">
          Login with Google
        </button>
      </div>
    </div>
  </div>
</div>
